<%= form_for(@schoole) do |f| %>
  <% if @schoole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schoole.errors.count, "error") %> prohibited this schoole from being saved:</h2>

      <ul>
      <% @schoole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one %><br>
    <%= f.text_field :one %>
  </div>
  <div class="field">
    <%= f.label :two %><br>
    <%= f.text_field :two %>
  </div>
  <div class="field">
    <%= f.label :three %><br>
    <%= f.text_field :three %>
  </div>
  <div class="field">
    <%= f.label :four %><br>
    <%= f.text_field :four %>
  </div>
  <div class="field">
    <%= f.label :five %><br>
    <%= f.text_field :five %>
  </div>
  <div class="field">
    <%= f.label :six %><br>
    <%= f.text_field :six %>
  </div>
  <div class="field">
    <%= f.label :seven %><br>
    <%= f.date_select :seven %>
  </div>
  <div class="field">
    <%= f.label :eight %><br>
    <%= f.date_select :eight %>
  </div>
  <div class="field">
    <%= f.label :nine %><br>
    <%= f.text_area :nine %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_area :ten %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
