<p id="notice"><%= notice %></p>

<h1>Listing Schooles</h1>

<table>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schooles.each do |schoole| %>
      <tr>
        <td><%= schoole.one %></td>
        <td><%= schoole.two %></td>
        <td><%= schoole.three %></td>
        <td><%= schoole.four %></td>
        <td><%= schoole.five %></td>
        <td><%= schoole.six %></td>
        <td><%= schoole.seven %></td>
        <td><%= schoole.eight %></td>
        <td><%= schoole.nine %></td>
        <td><%= schoole.ten %></td>
        <td><%= link_to 'Show', schoole %></td>
        <td><%= link_to 'Edit', edit_schoole_path(schoole) %></td>
        <td><%= link_to 'Destroy', schoole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoole', new_schoole_path %>
