<br> <br> <br>
Welcome
<br>
Department Name: <%= current_user.department_name %>
<br>
Role: <%= role = current_user.position %>
<br>
<% if role == 'User' %>
	<%= link_to 'UNM Generic Template', generics_path %><br>
	<%= link_to 'College of Arts and Sciences', collegeaands_path %><br>
	<%= link_to 'School of Engineering', schooles_path %>
<% end %>
<% if role == 'Manager' %>
	<%= link_to 'UNM Generic Template', generics_path %><br>
	<%= link_to 'College of Arts and Sciences', collegeaands_path %><br>
	<%= link_to 'School of Engineering', schooles_path %>
<% end %>
<% if role == 'Admin' %>
	<%= link_to 'UNM Generic Template', generics_path %><br>
	<%= link_to 'College of Arts and Sciences', collegeaands_path %><br>
	<%= link_to 'School of Engineering', schooles_path %>
<% end %>